.page-section {
  color: #212529;
  position: relative;
  box-sizing: border-box;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.card--section {
  padding-top: 15px;
  width: 100%;
  border: none;
  box-shadow: 0 0 3px 0 #dee2e6;
}
.page-section .title {
  display: flex;
  justify-content: space-between;
}
.page-section .title .badge {
  vertical-align: middle;
  background: #dc3545;
}
.p020 {
  padding: 0 20px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}

.user-rate-comment {
  position: relative;
}

.user-rate-comment textarea {
  width: 100%;
  height: 80px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
  padding: 10px 130px 10px 10px;
  outline: none;
}
.user-rate-comment .btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.comment {
  padding: 20px;
  position: relative;
  background: #fff;
  width: 100%;
}
.comment-box {
  display: flex;
  margin-bottom: 25px;
}
.comment-box.level2 {
  padding-left: 85px;
}

.comment-box-avatar {
  flex-basis: 70px;
  margin-right: 15px;
}
.comment-box-content {
  flex: 1;
}
.comment-box-avatar img {
  border-radius: 4px;
}
.comment-name {
  font-size: 18px;
  line-height: 22px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #212529;
}
.comment-name .badge {
  position: relative;
  top: -3px;
  left: 5px;
}
.comment-name .time {
  font-size: 14px;
  line-height: 14px;
  color: #99a2aa;
  font-weight: 300;
  display: inline-block;
  margin-left: 10px;
}
.comment-text {
  color: #212529;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: 300;
}
.comment-status a {
  font-size: 14px;
  line-height: 14px;
}
a,
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
  color: #0168fa;
}

.comment-pagination {
  position: relative;
  margin-top: 30px;
  left: 50%;
  margin-bottom: 20px;
}
