.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col10-1, .col10-2, .col10-3, .col10-4, .col10-5, .col10-6, .col10-7, .col10-8, .col10-9, .col10-10, .col10-lg-1, .col10-lg-2, .col10-lg-3, .col10-lg-4, .col10-lg-5, .col10-lg-6, .col10-lg-7, .col10-lg-8, .col10-lg-9, .col10-lg-10, .col10-md-1, .col10-md-2, .col10-md-3, .col10-md-4, .col10-md-5, .col10-md-6, .col10-md-7, .col10-md-8, .col10-md-9, .col10-md-10, .col10-sm-1, .col10-sm-2, .col10-sm-3, .col10-sm-4, .col10-sm-5, .col10-sm-6, .col10-sm-7, .col10-sm-8, .col10-sm-9, .col10-sm-10, .col10-xs-1, .col10-xs-2, .col10-xs-3, .col10-xs-4, .col10-xs-5, .col10-xs-6, .col10-xs-7, .col10-xs-8, .col10-xs-9, .col10-xs-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-italic {
  font-style: italic !important; }

.text-white {
  color: #fff !important; }

.text-muted {
  color: #99a2aa !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #212529;
  text-align: left;
  background-color: #fff; }

a {
  color: #0168fa;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.container {
  max-width: 100%;
  width: 123rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 1200px) {
    .container {
      width: 97rem; } }
  @media (max-width: 992px) {
    .container {
      width: 75rem; } }
  @media (max-width: 768px) {
    .container {
      width: 55rem; } }
  @media (max-width: 576px) {
    .container {
      width: 100%; } }

.row {
  display: flex;
  flex-wrap: wrap; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > .col10,
  .no-gutters > [class*='col-'],
  .no-gutters > [class*='col10-'] {
    padding-right: 0;
    padding-left: 0; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media (max-width: 1200px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 992px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 768px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 576px) {
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.col10 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px; }

.col10-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col10-1 {
  flex: 0 0 10%;
  max-width: 10%; }

.col10-2 {
  flex: 0 0 20%;
  max-width: 20%; }

.col10-3 {
  flex: 0 0 30%;
  max-width: 30%; }

.col10-4 {
  flex: 0 0 40%;
  max-width: 40%; }

.col10-5 {
  flex: 0 0 50%;
  max-width: 50%; }

.col10-6 {
  flex: 0 0 60%;
  max-width: 60%; }

.col10-7 {
  flex: 0 0 70%;
  max-width: 70%; }

.col10-8 {
  flex: 0 0 80%;
  max-width: 80%; }

.col10-9 {
  flex: 0 0 90%;
  max-width: 90%; }

.col10-10 {
  flex: 0 0 100%;
  max-width: 100%; }

@media (max-width: 1200px) {
  .col10-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col10-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col10-lg-1 {
    flex: 0 0 10%;
    max-width: 10%; }
  .col10-lg-2 {
    flex: 0 0 20%;
    max-width: 20%; }
  .col10-lg-3 {
    flex: 0 0 30%;
    max-width: 30%; }
  .col10-lg-4 {
    flex: 0 0 40%;
    max-width: 40%; }
  .col10-lg-5 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col10-lg-6 {
    flex: 0 0 60%;
    max-width: 60%; }
  .col10-lg-7 {
    flex: 0 0 70%;
    max-width: 70%; }
  .col10-lg-8 {
    flex: 0 0 80%;
    max-width: 80%; }
  .col10-lg-9 {
    flex: 0 0 90%;
    max-width: 90%; }
  .col10-lg-10 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 992px) {
  .col10-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col10-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col10-md-1 {
    flex: 0 0 10%;
    max-width: 10%; }
  .col10-md-2 {
    flex: 0 0 20%;
    max-width: 20%; }
  .col10-md-3 {
    flex: 0 0 30%;
    max-width: 30%; }
  .col10-md-4 {
    flex: 0 0 40%;
    max-width: 40%; }
  .col10-md-5 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col10-md-6 {
    flex: 0 0 60%;
    max-width: 60%; }
  .col10-md-7 {
    flex: 0 0 70%;
    max-width: 70%; }
  .col10-md-8 {
    flex: 0 0 80%;
    max-width: 80%; }
  .col10-md-9 {
    flex: 0 0 90%;
    max-width: 90%; }
  .col10-md-10 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 768px) {
  .col10-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col10-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col10-sm-1 {
    flex: 0 0 10%;
    max-width: 10%; }
  .col10-sm-2 {
    flex: 0 0 20%;
    max-width: 20%; }
  .col10-sm-3 {
    flex: 0 0 30%;
    max-width: 30%; }
  .col10-sm-4 {
    flex: 0 0 40%;
    max-width: 40%; }
  .col10-sm-5 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col10-sm-6 {
    flex: 0 0 60%;
    max-width: 60%; }
  .col10-sm-7 {
    flex: 0 0 70%;
    max-width: 70%; }
  .col10-sm-8 {
    flex: 0 0 80%;
    max-width: 80%; }
  .col10-sm-9 {
    flex: 0 0 90%;
    max-width: 90%; }
  .col10-sm-10 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 576px) {
  .col10-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .col10-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col10-xs-1 {
    flex: 0 0 10%;
    max-width: 10%; }
  .col10-xs-2 {
    flex: 0 0 20%;
    max-width: 20%; }
  .col10-xs-3 {
    flex: 0 0 30%;
    max-width: 30%; }
  .col10-xs-4 {
    flex: 0 0 40%;
    max-width: 40%; }
  .col10-xs-5 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col10-xs-6 {
    flex: 0 0 60%;
    max-width: 60%; }
  .col10-xs-7 {
    flex: 0 0 70%;
    max-width: 70%; }
  .col10-xs-8 {
    flex: 0 0 80%;
    max-width: 80%; }
  .col10-xs-9 {
    flex: 0 0 90%;
    max-width: 90%; }
  .col10-xs-10 {
    flex: 0 0 100%;
    max-width: 100%; } }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 20px;
  font-family: inherit;
  font-weight: 700;
  color: inherit; }

h1,
.h1 {
  font-size: 3.6rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.4rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.6rem; }

h1,
.h1 {
  line-height: 4.896rem; }

h2,
.h2 {
  line-height: 4.08rem; }

h3,
.h3 {
  line-height: 3.3rem; }

h4,
.h4 {
  line-height: 2.7rem; }

h5,
.h5 {
  line-height: 2.475rem; }

h6,
.h6 {
  line-height: 1.6rem; }

p,
.intro-para,
.para,
.small-para {
  font-weight: 400;
  color: inherit;
  margin: 0 0 15px; }

.intro-para {
  font-size: 20px;
  line-height: 34px; }

p,
.para {
  font-size: 16px;
  line-height: 26px; }

.small-para {
  font-size: 14px;
  line-height: 20px; }

.bg-dark {
  background: #1a222c; }

.text-white {
  color: #fff; }

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 14px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .btn-disable {
    opacity: .3;
    pointer-events: none; }
  .btn-circle {
    border-radius: 19px; }
  .btn-icon {
    padding: 12px 11px; }

.btn-primary {
  color: #fff;
  background: #cb1c22;
  outline: none; }
  .btn-primary:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #cb1c22; }

.btn-secondary {
  color: #fff;
  background: #6c757d;
  outline: none; }
  .btn-secondary:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #6c757d; }

.btn-success {
  color: #fff;
  background: #33b530;
  outline: none; }
  .btn-success:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #33b530; }

.btn-info {
  color: #fff;
  background: #34b4f9;
  outline: none; }
  .btn-info:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #34b4f9; }

.btn-warning {
  color: #fff;
  background: #ea9d02;
  outline: none; }
  .btn-warning:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #ea9d02; }

.btn-danger {
  color: #fff;
  background: #e02c1f;
  outline: none; }
  .btn-danger:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #e02c1f; }

.btn-light {
  color: #fff;
  background: #e9ecef;
  outline: none; }
  .btn-light:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #e9ecef; }

.btn-dark {
  color: #fff;
  background: #343a40;
  outline: none; }
  .btn-dark:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #343a40; }

.btn-primary:hover {
  background: #920e29; }

.btn-secondary:hover {
  background: #495057; }

.btn-success:hover {
  background: #188227; }

.btn-info:hover {
  background: #1a6ab3; }

.btn-warning:hover {
  background: #a86501; }

.btn-danger:hover {
  background: #a10f1d; }

.btn-light:hover {
  background: #495057; }

.btn-dark:hover {
  background: #e9ecef; }

.btn-primary:disabled {
  background: #f9b7a3; }

.btn-secondary:disabled {
  background: #e9ecef; }

.btn-success:disabled {
  background: #c3f7ae; }

.btn-info:disabled {
  background: #adf1fe; }

.btn-warning:disabled {
  background: #fce598; }

.btn-danger:disabled {
  background: #f5c6cb; }

.btn-light:disabled {
  background: #e9ecef; }

.btn-dark:disabled {
  background: #6c757d; }

.btn-light {
  color: #8392a5; }
  .btn-light:hover {
    color: #fff; }

.btn-dark:hover {
  color: #343a40; }

.btn-outline-primary {
  color: #cb1c22;
  border: 1px solid #cb1c22; }
  .btn-outline-primary:hover {
    color: #fff;
    background: #cb1c22; }
  .btn-outline-primary:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #cb1c22; }

.btn-outline-secondary {
  color: #6c757d;
  border: 1px solid #6c757d; }
  .btn-outline-secondary:hover {
    color: #fff;
    background: #6c757d; }
  .btn-outline-secondary:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #6c757d; }

.btn-outline-success {
  color: #33b530;
  border: 1px solid #33b530; }
  .btn-outline-success:hover {
    color: #fff;
    background: #33b530; }
  .btn-outline-success:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #33b530; }

.btn-outline-info {
  color: #34b4f9;
  border: 1px solid #34b4f9; }
  .btn-outline-info:hover {
    color: #fff;
    background: #34b4f9; }
  .btn-outline-info:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #34b4f9; }

.btn-outline-warning {
  color: #ea9d02;
  border: 1px solid #ea9d02; }
  .btn-outline-warning:hover {
    color: #fff;
    background: #ea9d02; }
  .btn-outline-warning:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #ea9d02; }

.btn-outline-danger {
  color: #e02c1f;
  border: 1px solid #e02c1f; }
  .btn-outline-danger:hover {
    color: #fff;
    background: #e02c1f; }
  .btn-outline-danger:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #e02c1f; }

.btn-outline-light {
  color: #e9ecef;
  border: 1px solid #e9ecef; }
  .btn-outline-light:hover {
    color: #fff;
    background: #e9ecef; }
  .btn-outline-light:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #e9ecef; }

.btn-outline-dark {
  color: #343a40;
  border: 1px solid #343a40; }
  .btn-outline-dark:hover {
    color: #fff;
    background: #343a40; }
  .btn-outline-dark:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem #343a40; }

.btn-outline-light {
  color: #8392a5; }
  .btn-outline-light:hover {
    color: #8392a5; }

.btn-xl {
  padding: 10px 32px;
  font-size: 18px;
  line-height: 14px; }

.btn-lg {
  padding: 14px 18px;
  font-size: 14px;
  line-height: 14px; }

.btn-nor {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 14px; }

.btn-sm {
  padding: 10px 16px;
  font-size: 13px;
  line-height: 13px; }

.btn-xs {
  padding: 9px 16px;
  font-size: 12px;
  line-height: 12px; }

.btn-group {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle; }
  .btn-group .btn {
    margin-left: 0; }
    .btn-group .btn + .btn {
      margin-left: -1px; }
    .btn-group .btn:not(:first-child), .btn-group .btn:not(:last-child) {
      border-radius: 0; }
    .btn-group .btn:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .btn-group .btn:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

.badge {
  display: inline-block;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px; }
  .badge:empty {
    display: none; }

.btn .badge {
  position: relative;
  top: -1px; }

.badge-primary {
  color: #fff;
  background: #cb1c22; }

.badge-secondary {
  color: #fff;
  background: #6c757d; }

.badge-success {
  color: #fff;
  background: #33b530; }

.badge-info {
  color: #fff;
  background: #34b4f9; }

.badge-warning {
  color: #fff;
  background: #ea9d02; }

.badge-danger {
  color: #fff;
  background: #e02c1f; }

.badge-light {
  color: #fff;
  background: #e9ecef; }

.badge-dark {
  color: #fff;
  background: #343a40; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none; }
  .pagination--margin {
    margin-top: 10px;
    margin-bottom: 10px; }
  .pagination-item:not(:last-child) {
    margin-right: 5px; }
  .pagination-link {
    font-size: 14px;
    line-height: 17px;
    color: #495057;
    font-weight: 500;
    padding: 10px 13px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    text-align: center; }
    .pagination-link i {
      font-weight: bold;
      display: inline-block;
      width: 8px;
      position: relative;
      left: -6px; }
    .pagination-link.active {
      background: #cb1c22;
      color: #fff;
      border-color: #cb1c22; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0; }
  .breadcrumb-margin {
    margin-top: 10px;
    margin-bottom: 10px; }
  .breadcrumb-item {
    color: #0275d8;
    line-height: 24px; }
    .breadcrumb-item + .breadcrumb-item:before {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      color: #cccccc;
      font-size: 16px;
      content: '/'; }
    .breadcrumb-item a {
      font-size: 14px;
      line-height: 20px;
      color: #0275d8; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-collapse: collapse; }
  .table th,
  .table td {
    padding: 8.5px 10px;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.5; }
  .table tr {
    border-top: 1px solid #dee2e6; }
  .table thead th {
    vertical-align: bottom;
    font-weight: 600; }
  .table tbody + tbody {
    border-top: 2px solid #dee2e6; }
  .table .table {
    background-color: #fff; }
  .table-sm th,
  .table-sm td {
    padding: 5.5px 10px; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }

.card-body {
  flex: 1 1 auto;
  padding: 15px; }

.card-title {
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 10px; }

.card-subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-top: -4.5px;
  margin-bottom: 8px; }

.card-text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 15px; }

.card-header {
  padding: 15px;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .card-header:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-img {
  width: 100%;
  border-radius: calc(4px - 1px); }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(4px - 1px);
  border-top-right-radius: calc(4px - 1px); }

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(4px - 1px);
  border-bottom-left-radius: calc(4px - 1px); }

.alert {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  padding: 13px 16px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .alert span {
    float: right;
    font-size: 22px; }

.alert-primary {
  background: #fcded0; }

.alert-secondary {
  background: #f8f9fa; }

.alert-success {
  background: #e3fbd6; }

.alert-info {
  background: #d6fafe; }

.alert-warning {
  background: #fdf4cb; }

.alert-danger {
  background: #f8d7da; }

.alert-light {
  background: #f8f9fa; }

.alert-dark {
  background: #99a2aa; }

.alert-primary {
  border-color: #f9b7a3; }

.alert-secondary {
  border-color: #e9ecef; }

.alert-success {
  border-color: #c3f7ae; }

.alert-info {
  border-color: #adf1fe; }

.alert-warning {
  border-color: #fce598; }

.alert-danger {
  border-color: #f5c6cb; }

.alert-light {
  border-color: #e9ecef; }

.alert-dark {
  border-color: #6c757d; }

.alert-primary {
  color: #920e29; }
  .alert-primary a {
    font-weight: 600;
    color: inherit; }
    .alert-primary a:hover {
      text-decoration: underline; }
  .alert-primary hr {
    border-color: #920e29; }

.alert-secondary {
  color: #495057; }
  .alert-secondary a {
    font-weight: 600;
    color: inherit; }
    .alert-secondary a:hover {
      text-decoration: underline; }
  .alert-secondary hr {
    border-color: #495057; }

.alert-success {
  color: #188227; }
  .alert-success a {
    font-weight: 600;
    color: inherit; }
    .alert-success a:hover {
      text-decoration: underline; }
  .alert-success hr {
    border-color: #188227; }

.alert-info {
  color: #1a6ab3; }
  .alert-info a {
    font-weight: 600;
    color: inherit; }
    .alert-info a:hover {
      text-decoration: underline; }
  .alert-info hr {
    border-color: #1a6ab3; }

.alert-warning {
  color: #a86501; }
  .alert-warning a {
    font-weight: 600;
    color: inherit; }
    .alert-warning a:hover {
      text-decoration: underline; }
  .alert-warning hr {
    border-color: #a86501; }

.alert-danger {
  color: #a10f1d; }
  .alert-danger a {
    font-weight: 600;
    color: inherit; }
    .alert-danger a:hover {
      text-decoration: underline; }
  .alert-danger hr {
    border-color: #a10f1d; }

.alert-light {
  color: #495057; }
  .alert-light a {
    font-weight: 600;
    color: inherit; }
    .alert-light a:hover {
      text-decoration: underline; }
  .alert-light hr {
    border-color: #495057; }

.alert-dark {
  color: #e9ecef; }
  .alert-dark a {
    font-weight: 600;
    color: inherit; }
    .alert-dark a:hover {
      text-decoration: underline; }
  .alert-dark hr {
    border-color: #e9ecef; }

.inner-1 {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.inner-2 {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.inner-3 {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.1); }

.inner-4 {
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

.form-control {
  display: block;
  width: 100%;
  padding: 7.5px 11px;
  font-size: 1rem;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #99cffe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .form-control::placeholder {
    color: #99a2aa; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }
  .form-control ~ i {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 20px; }
  .form-control.is-valid {
    border-color: #33b530; }
    .form-control.is-valid ~ i {
      color: #33b530; }
    .form-control.is-valid ~ .valid-feedback {
      color: #33b530; }
  .form-control.is-invalid {
    border-color: #cb1c22; }
    .form-control.is-invalid ~ i {
      color: #cb1c22; }
    .form-control.is-invalid ~ .valid-feedback {
      color: #cb1c22; }
  .form-control ~ .valid-feedback {
    font-size: 11px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 10px; }

.form-group {
  margin-bottom: 1.5rem;
  position: relative; }

select.form-control {
  height: 38px; }
  select.form-control:not([size]):not([multiple]) {
    height: 38px; }
  select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff; }

textarea.form-control {
  height: auto; }

.checkbox,
.radio {
  display: flex;
  align-items: center; }
  .checkbox label,
  .radio label {
    cursor: pointer;
    font-size: 14px;
    line-height: 21px; }
  .checkbox input,
  .radio input {
    position: relative;
    border: none;
    margin: 0 8px 0 0;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none; }
    .checkbox input:disabled ~ label,
    .radio input:disabled ~ label {
      color: #99a2aa;
      pointer-events: none; }

.checkbox input[type='checkbox']:before {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 6px;
  display: table;
  width: 5px;
  height: 11px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox input[type='checkbox']:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #97a3b9;
  border-radius: 4px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms; }

.checkbox input[type='checkbox']:disabled::after {
  background: #e3e7ed; }

.checkbox input[type='checkbox']:disabled::before {
  border-color: transparent; }

.checkbox input[type='checkbox']:checked::after {
  background-color: #cb1c22;
  border-color: #cb1c22;
  outline: none; }

.checkbox input[type='checkbox']:disabled:checked::before {
  border-color: #fff;
  z-index: 2;
  opacity: 0.6; }

.checkbox input[type='checkbox']:disabled:checked::after {
  opacity: 0.6; }

.radio input[type='radio']:after, .radio input[type='radio']:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms; }

.radio input[type='radio']:before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.radio input[type='radio']:after {
  position: relative;
  top: 0;
  border: 1px solid #97a3b9;
  background: #fff; }

.radio input[type='radio']:disabled::after {
  background: #e3e7ed; }

.radio input[type='radio']:checked::before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  z-index: 2; }

.radio input[type='radio']:checked:after {
  border: 1px solid #cb1c22;
  background: #cb1c22; }

.radio input[type='radio']:checked:disabled:after {
  border: 1px solid #97a3b9;
  background: #e3e7ed; }

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }
  .input-group > .form-control,
  .input-group > .custom-select,
  .input-group > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; }
    .input-group > .form-control:focus,
    .input-group > .custom-select:focus,
    .input-group > .custom-file:focus {
      z-index: 3; }
    .input-group > .form-control + .form-control,
    .input-group > .form-control + .custom-select,
    .input-group > .form-control + .custom-file,
    .input-group > .custom-select + .form-control,
    .input-group > .custom-select + .custom-select,
    .input-group > .custom-select + .custom-file,
    .input-group > .custom-file + .form-control,
    .input-group > .custom-file + .custom-select,
    .input-group > .custom-file + .custom-file {
      margin-left: -1px; }
  .input-group > .form-control:not(:last-child),
  .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .input-group > .form-control:not(:first-child),
  .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .input-group > .custom-file {
    display: flex;
    align-items: center; }
    .input-group > .custom-file:not(:last-child) .custom-file-label,
    .input-group > .custom-file:not(:last-child) .custom-file-label::before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .input-group > .custom-file:not(:first-child) .custom-file-label,
    .input-group > .custom-file:not(:first-child) .custom-file-label::before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

.input-group-prepend,
.input-group-append {
  display: flex; }
  .input-group-prepend .btn,
  .input-group-append .btn {
    position: relative;
    z-index: 2; }
  .input-group-prepend .btn + .btn,
  .input-group-prepend .btn + .input-group-text,
  .input-group-prepend .input-group-text + .input-group-text,
  .input-group-prepend .input-group-text + .btn,
  .input-group-append .btn + .btn,
  .input-group-append .btn + .input-group-text,
  .input-group-append .input-group-text + .input-group-text,
  .input-group-append .input-group-text + .btn {
    margin-left: -1px; }

.input-group-prepend {
  margin-right: -1px; }

.input-group-append {
  margin-left: -1px; }

.input-group-text {
  display: flex;
  align-items: center;
  padding: 7.5px 13px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
  .input-group-text input[type='radio'],
  .input-group-text input[type='checkbox'] {
    margin-top: 0; }



.modal {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000090;
    opacity: 0;
    visibility: hidden;
}

.modal__header {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

    .modal__header h1,
    .modal__header h2,
    .modal__header h3,
    .modal__header h4,
    .modal__header h5,
    .modal__header h6 {
        margin-bottom: 0;
    }

.modal__body {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.modal__footer {
    padding: 10px 15px;
}

.modal--is-visible {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    overflow: auto;
    background: #fff;
    width: 900px;
    max-width: 900px;
    max-height: 700px;
    border-radius: 4px;
    outline: none;
    position: relative;
}

@media only screen and (max-width: 992px) {
    .modal__content {
        width: calc(100% - 30px);
    }
}

@media only screen and (max-width: 600px) {
    .modal__content {
        width: calc(100% - 20px);
    }
}

.modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    padding: 7px;
    display: block;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

    .modal__close-btn:hover {
        background-color: #00000080;
    }

    .modal__close-btn .icon {
        display: block;
    }

.modal__content .modal__close-btn--sticky {
    position: sticky;
    float: right;
    top: 0;
    right: 0;
}

.modal[data-animation='on'] {
    transition: opacity 0.3s, visibility 0.3s;
}

    .modal[data-animation='on'] .modal__content {
        will-change: transform;
        transition: transform 0.3s var(--ease-out);
        transform: translateY(10%);
    }

    .modal[data-animation='on'].modal--is-visible .modal__content {
        transform: translateY(0);
    }